
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	border: 0;
}
/* LAYOUT STYLES */
body {
  display: flex; /*enable flex for all children */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


a {
  color: white;
}
a:hover {
  color: black;
}

header {
  display: flex;
  flex-direction : row;
  padding-top: 0px;
}

.inner {
  width: 1500px;
  margin: 0 auto;
}



code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  font-size: 14px;
  color: #222;
}

code {
  padding: 0 3px;
  background-color: #f2f2f2;
  border: solid 1px #ddd;
}

pre {
  padding: 20px;
  overflow: auto;
  color: #f2f2f2;
  text-shadow: none;
  background: #303030;
}
pre code {
  padding: 0;
  color: #f2f2f2;
  background-color: #303030;
  border: none;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

strong {
  font-weight: bold;
}


/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-size: 3em;
}

.title{
  margin: auto;
  color: white;
  font-size: 3em;
}

.sub-title {
  margin: auto;
  color: white;
  font-size: 25px;
}


h2 {
  font-weight: bold;
  font-size: 3em;
}

h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  color: #303030;
}

h5 {
  font-size: 1em;
  color: #303030;
}

h6 {
  font-size: .8em;
  color: #303030;
}

p {
  font-weight: 300;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
}

ul li {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol li {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 3px;
}

dl dt {
  color: #303030;
}

footer {
  height: 100px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}

.rounded-icon {
  margin: 10px;
  border-radius: 30px;
  width : 100px;
  height : 100px;
}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) { }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94%;
    margin: 0 auto;
  }
}

#container{
  display: flex;
  flex-direction: column;
}

/* =========== Sections Divs ==================*/
.title-items-section{
  margin: auto;
  min-height: 300px;
  background: url('../images/polyscapeback.jpg') 50% 0 fixed;
  width: 100%;
  padding-top: 80px;
}

.section-space{
  margin: auto;
  min-height: 200px;
  background: url('../images/polyscapeback.jpg') 50% 0 fixed;
  width: 100%;
  /* padding-top: 80px; */
}


.project-section {
  flex-direction: row;
  background-color: #d1d1d1;
}

.exp-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(206, 206, 206, 0.5);
}

.tech-section{
  display: flex;
  flex-direction: column;
  background-color: #d1d1d1;
}

/*======== Techs style =======*/

.tech-wrapper{
  display: flex;
  flex-direction: row;
  padding: 70px;
}

.tech-box{
  padding: 50px;
}

.tech-box-row{
  display: flex;
}

.tech-card{
  height: 120px;
  width: 120px;
  margin: 20px;
  /*border:1px solid #eaeaec;*/
}

/*========= Experience Styles =======*/
.single-exp {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.exp-logo {
  width: 200px;
  height: 200px;
  padding-right: 50px;
  padding-left: 30px;
}

.edu-exp {
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.auto-logo {
  width: auto;
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo{
  width: 200px;
  height: 200px;
  margin: 20px;
}


/* ========= General expandable List stuff =============== */

.exp-list-item {
    max-height: 45px;
    overflow: hidden;
    transition: height 0.3s;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: height 0.3s;
    -o-transition: height 0.3s;
}

.exp-list-item:hover{
    max-height: 1000px;
}

.exp-list-titlebar {
    min-height: 45px;
}

.exp-extra-info {
    max-height: 15px;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
    border-radius: 30px;
}

.info-item{
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.carousel-data {
  width: 100%;
  height: 550px;
}

/* ========= Text styles =========*/
.left-border {
  border-left: 3px solid grey;
  padding: 15px;
}

.box-text{
  display: block;
  justify-content: space-between;
  padding: 15px;
  font-size: 25px;
  padding-right: 50px;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 30px;
}


/* ========= img styles ========*/
.profile-pic {
  border-radius: 50%;
  border-color: black;
  border: 3px solid;
}

.profile-pic:hover {
  transition: border .4s,color .4s;
  border-color: white;
}

/* ========= List Styles ========= */

.center {
    margin: auto;
    padding: 10px;
}

.project-group {
  padding-right: 150px;
  padding-left: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-item {
    max-height: 120px;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
}


.project-item:hover {
  max-height: 1000px;
  background-color: #f0efef;
  border-radius: 30px;
}

.project-title{
  display: flex;
  flex-direction: row;
}

.project-inner{
  display: flex;
  flex-direction: row;
}

.app-title-text{
  padding-top: 30px;
}

.project-image{
  padding: 30px;
}


/*========== Nav bar stuff =============*/
.navbar-wrapper {
  position: fixed;
 /* z-index: 1030; -- so it wont appear behind*/
  display: flex;
  flex: 8;
  flex-direction: row;
  max-height: 80px;
  width: 100%;
  /*background-color: #4acbde;*/
  /*background: -webkit-linear-gradient(left top, #4acbde, white);*/ /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(bottom right, #4acbde, white); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(bottom right, #4acbde, white); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to bottom right, #4acbde, white);*/
}

.navbar-header{
  font: italic;
}

.navbar-right-side{
  flex:6;
  flex-direction: row;
  align-items: flex-end;
  height: 80px;
}

.nav-icon{
  display: flex;
  float:right;
  height: 60px;
  width: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.nav-icon:hover {
  transition: background .4s,color .4s;
  background-color: white;
}

.lightup-link:hover{
  transition: background .4s,color .4s;
  background-color: white;
}

.nav-img{
  display: flex;
  height: 60px;
  width: 60px;
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }

/*======== Flip CSS =======*/
.flip3D {
 font-size: 20px;
 width: 100px;
 height: 100px;
 margin: 5px;
 float: left;
 }

 .flip3D > .front {
  padding: 10px 10px;
  text-align: center;
   margin: 15px;
   background-color: white;
   border-radius: 7px;
   border-style: solid;
     border-color: #33FF33;
  position: absolute;
  transform: perspective( 600px ) rotateY( 0deg );
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
 }

 .flip3D > .back {
  padding: 10px 10px;
     text-align: center;
   margin: 15px;
  background-color: white;
   border-radius: 7px;
   border-style: solid;
     border-color: #33FF33;
  position: absolute;
  transform: perspective( 600px ) rotateY( 180deg );
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
 }

 .flip3D:active > .front {
   transform: perspective( 600px ) rotateY( -180deg );
 }

 .flip3D:active > .back {
   transform: perspective( 600px ) rotateY( 0deg );
 }

 .footer-wrapper{
  display: flex;
  /*flex-direction: row;*/
  min-height: 150px;
  background: url('../images/polyscapeback.jpg') 50% 0 fixed;
  width: 100%;
  padding-top: 40px;
}

 .exp-date-text{
  font-size: 20px;
  line-height: 30px;
 }
